.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    font-size: .7rem;
    height: 20px;
    font-style: normal;
   
}


#other{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
}
#icon{
    width: 15%;
    display: flex;
    justify-content: right;
}

#icon div{
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
    margin-bottom:2% ;
    padding-right: 3%;
}
.firstDiv{
    background-image: url("img1.jpg");
    width: 100%;
    height: 400px;
    margin: auto;
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center; 
}

.content{
    width: 30%;
    background-color: rgba(243, 28, 28, 0.229);
   height: 40%;
    color: aliceblue;
    position: relative;
    top:60px ;
    left: 50px;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    
}

.bottom{
    width: 100%;
    height: 50px;
    margin: auto;
    background: linear-gradient(to right, rgb(237, 129, 147)30%, rgb(237, 129, 147) 50%, rgb(234, 234, 72));
    margin-bottom: 10px;
}

/*      second section   */
.secondDiv{
    width: 100%;
    height: 400px;
    margin: auto;
    background: linear-gradient(to right, rgb(237, 129, 147)30%, rgb(237, 129, 147) 50%, rgb(234, 234, 72));
}

.secondDiv h1{
    color: aliceblue;
    margin-left: 45%;
    font-family: monospace;
}
.dishContainer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 3% auto;
}


.dish{
    background-color: azure;
    border-radius: 0px 30px 0px 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
}

.imgDiv{
    width: 80%;
    margin: auto;
   height: 60%;
   object-fit:cover
}
.imgDiv img{
    width: 100%;
    height: 100%;
    border-radius:0px 30px 0px 0px;
    margin: auto;
}

.heading{
    
    width: 90%;
    margin: auto;
    height: 30%;
    word-wrap: break-word;
    font-size: .5rem;
    font-family: monospace;
    width: 80%;
    
    
}
.heading h2{
    padding-left: 35%;
}

.heading p{
   padding-left: 10%;
}

button{
    margin-left: 46%;
    border: 1px solid;
    background-color: rgba(241, 168, 180, 0.686) ;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    font-weight: bold;
}

#navImg{
    width: 15px;
}
/* Media query for tablets */
@media (max-width: 768px) {
    .navbar {
        font-size: .5rem; 
    }

   .firstDiv .content {
        font-size: .5rem; 
        height: 30%;
    }

    .firstDiv{
        height: 250px;
    }

    .secondDiv{
        height: 300px;
    }

    .secondDiv h1{
        font-size: medium;
        margin-top: 10px;
    }
    .bottom{
        height: 20px;
    }

    .dishContainer{
        width: 85%;
    }

    .dish{
        height: 12rem;
        width: 30%;
    }

    .heading{
        font-size: .4rem;
    }

    button{
        
        width: 60px;
        height: 20px;
        font-weight: bold;
        margin-top: 20px 20px;
        margin-left: 45%;
        
    }
    #navImg{
        width: 10px;
    }
}

/* Media query for mobiles */
@media (max-width: 480px) {
    .navbar {
        font-size: .1rem; 
       
    }
    .firstDiv .content {
        font-size: .3rem; 
        height: 20%;
    }

    .firstDiv{
        height: 200px;
    }
    .secondDiv{
        height: 250px;
    }

    .secondDiv h1{
        font-size: medium;
        margin-top: 10px;
    }
    .bottom{
        height: 30px;
    }
    .dishContainer{
        width: 95%;
    }
    .dish{
        height: 10rem;
        width: 30%;
    }
    .imgDiv{
        height: 80px;
    }

    .heading{
        font-size: .3rem;
    }

    button{
        width: 60px;
        height: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: xx-small;
        margin-left: 40%;
    }
    #main #navImg{
        width: 10px;
        height: 10px;
    }
    #icon {
        width: 30%;
        justify-content: space-around
    }

    #navImg img{
        margin-left: 5px;
     }
}
